DATABASE_URL=***

REDIS_URL=***
SECRET_KEY=***

ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
MEDIA_DIR=***
APP_NAME=VoiceTask AI
DEBUG=***
FRONTEND_URL=***
GROQ_API_KEY=***

OPENAI_API_KEY=***

WHISPER_MODEL=***

ADMIN_USERNAME=***
ADMIN_PASSWORD=***
ADMIN_SECRET_KEY=***

WHISPER_DOWNLOAD_ROOT=***

DB_NAME=
DB_USER=
DB_PASSWORD=

